
    
    h1 {
      font-family: 'HelveticaNeue-UltraLight', serif;
      font-weight: lighter;
    }
    
    .panel {
      font-weight: 100;
      color: #404040; /* light version was 404040 */
      background: transparent; /* interior of side panel */
    }
    
  .mainP {
    color: #404040; /* text color in main panel */
  }
  
  .col-sm-4{
    background: transparent; /* area around side panel, but behind it */
  }
  
  .well{
    background: #F0F0F0;
  }
  
  .toggle { display: none; /* currently not in use */
  }

  .span3{
    background: purple;
  }

   body, label, input, button, select { 
      font-family: 'HelveticaNeue', 'helvetica', monospace;
    }